<template>
  <q-item
    clickable
    tag="a"
    target="_blank"
    :href="imei"
  >
    <q-item-section
      v-if="imei"
      avatar
    >
      <q-icon :name="imei" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ imei }}</q-item-label>
      <q-item-label imei>{{ imei }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'CallbackRow',
  props: {
    imei: {
      type: String
    },

    // devices: [
    //     {
    //       mac: { type: String },
    //       rssi: { type: Number },
    //       data: { type: String },
    //     },
    // ],

    createdAt: {
      type: String,
    },

    updatedAt: {
      type: String,
    },

    _id: {
      type: String,
    }
  }
})
</script>
