* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  color: #2c3e50;
}

.center-text {
  text-align: center;
}

main {
  margin-top: 100px;
  padding: 20px;
}

img.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  font-weight: 100;
}

footer {
  padding: 20px;
}

footer p {
  font-weight: 300;
  font-size: 1em;
}

a {
  color: #3cf;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3cf;
}

a#logout {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 250px;
}

table {
  margin: auto;
}
th {
  background-color: rgb(170, 160, 229);
  font-weight: bold;
  width: fit-content;
}
tr:nth-of-type(odd) {
  background-color: #e6e0ff;
}
tr:nth-of-type(even) {
  background-color: #f9f7ff;
}
table tbody > tr > td,
th {
  padding: 3px 10px;
  text-align: center;
  white-space: nowrap;
}
table tbody > tr > td:nth-child(1) {
  font-weight: bold;
  text-align: right;
}

table > tbody > tr:nth-of-type(even) tr {
  background-color: #f9f7ff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form button {
  padding: 5px;
  margin: 5px;
  width: 200px;
}
.row {
  text-align: center;
}
