<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <q-table
        title="Callbacks -> données dans la console"
        :rows="rows"
        :columns="columns"
        row-key="name"
        dark
        color="amber"
      />
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'CallBack',

  callbacks: [],
  methods: {
    getCallbacks() {
      console.log('getCallbacks')
      const axios = require('axios');
      axios.get('http://localhost:3030/callback').then(response => {
        console.log('response :', response)
        this.callbacks = response.data
      }).catch(err => {
        console.log('err: ', err)
      })
    }
  },
  created() {
    this.getCallbacks()
  }
})
</script>
