<template>
  <q-page>
    <div class="flex flex-center">
      <img
        alt="Kanope logo"
        src="../../../public/LogoKanope.png"
        class="q-my-xl"
      >
    </div>
    <q-banner class="bg-primary text-white q-ma-xl text-center">
      Je n'ai pas réussi à lier avec la DB : rendez-vous sur http://localhost:8080/#/callback et sur http://localhost:3030.
    </q-banner>
    <div class="flex flex-center column">
      <q-input outlined v-model="text" label="email"/>
      <q-input outlined v-model="text" label="password" class="q-ma-sm"/>
      <div>
        <q-btn push color="primary" label="Login" class="q-ma-sm" />
        <q-btn outline rounded color="primary" label="Register" class="q-ma-sm" />
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>
